/*----------------------------
  PARTIAL - VARIABLES
----------------------------*/


// SITE COLORS
$primary: #FF3131;
$secondary: #0D0C0C;
$link: #318AFF;
$dark-gray: #0D0C0C;
$gray: #DFDFDF;
$check: #22FF1A;
$error: #FF1131;

$primary-lighten: #FF3E3E;

// SITE FONTS
$font-heading: Righteous;
$font-p: Lato;